<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>SHEOUT</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link media='screen' rel='stylesheet' th:href='@{/css/style.css}' type='text/css'/>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<header>
    <div class="d-flex justify-content-center">
        <a href="">
            <img alt="SHEOUT logo" th:src="@{/images/LOGO_SHEOUT.png}"/>
        </a>
    </div>
</header>
<br/><br/>
<!-- Header - End -->
<div>
    <h1>Store Register</h1>

    <div class="container">
        <form method="post" class="form-style" th:object="${store}" th:action="${editMode} ? @{/public/store/save} : @{/public/store/save}"  enctype="multipart/form-data" >
            <fieldset>
                <input type="hidden" th:field="*{id}"/>
                <label for="name">Name:</label><br />
                <input class="form-control" id="name" name="name" placeholder="Name..." th:field="*{name}" type="text" required oninvalid="this.setCustomValidity('Please enter a valid name.')"/>
                <div class="invalid-feedback">
                    Please enter a valid name.
                </div><br/>

                    <label for="cpf">CNPJ:</label>
                    <input class="form-control" id="cpf" name="cpf" placeholder="CNPJ..." th:field="*{cnpj}" type="text" required oninvalid="this.setCustomValidity('Please enter a valid cpf.')" onkeydown="return isNumberKey(event);"/>
                    <div class="invalid-feedback">
                        Please enter a valid CPF.
                    </div><br />

                    <label for="email">E-mail:</label>
                    <input class="form-control" id="email" name="email" placeholder="E-mail..." th:field="*{email}" type="email" required oninvalid="this.setCustomValidity('Please enter a valid e-mail.')"/>
                    <div class="invalid-feedback">
                        Please enter a valid e-mail.
                    </div><br />

                    <label for="phone">Phone number:</label>
                    <input class="form-control" id="phone" name="phone" placeholder="Phone number..." th:field="*{phoneNumber}" type="tel" required oninvalid="this.setCustomValidity('Please enter a valid phone number.')" onkeydown="return isNumberKey(event);"/>
                    <div class="invalid-feedback">
                        Please enter a valid phone number.
                    </div><br />

                    <label for="deliveryTax">Delivery Tax:</label>
                    <input class="form-control" id="deliveryTax" name="deliveryTax" placeholder="Delivery Tax..." th:field="*{deliveryTax}" type="text" required oninvalid="this.setCustomValidity('Please enter a valid delivery tax.')" onkeydown="return isNumberKey(event);"/>
                    <div class="invalid-feedback">
                        Please enter a valid delivery tax.
                    </div><br />

                    <label for="deliveryTime">Delivery Time:</label>
                    <input class="form-control" id="deliveryTime" name="deliveryTime" placeholder="Delivery Time..." th:field="*{deliveryTime}" type="text" required oninvalid="this.setCustomValidity('Please enter a valid delivery tax.')" onkeydown="return isNumberKey(event);"/>
                    <div class="invalid-feedback">
                        Please enter a valid delivery time.
                    </div><br />

                    <div th:if="${!editMode}">
                        <label for="logo">Logo: </label><br />
                        <input type="file" id="logo" name="logo" placeholder="Select File..." th:field="*{logoFile}" th:classappend="${#fields.hasErrors('logoFile')} ? 'inputError' : ''"/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('logoFile')}">
                            Please select a valid logo file.
                        </div>
                        <br /><br />
                    </div>

                    <label for="category">Store category: </label><br />
                    <select name="category" id="category" multiple="multiple" th:field="*{categories}" style="height: 90px;" th:classappend="${#fields.hasErrors('categories')} ? 'inputError' : ''">
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select><br />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('categories')}">
                        Please select a category.
                    </div>
                    <br /><br />


                    <div th:if="${!editMode}">
                        <label for="password">Password:</label>
                        <input class="form-control" id="password" name="password" placeholder="Password..." th:field="*{password}" type="password" required oninvalid="this.setCustomValidity('Please enter a valid password.')"/>
                        <div class="invalid-feedback">
                            Please enter a password.
                        </div>
                        <br /><br />
                    </div>
                <input type="hidden" name="password" value="*" th:if="${editMode}" />

                <input type="submit" class="btn btn-dark btn-primary" th:value="${!editMode} ? 'Register' : 'Update'"/>
                <a class="btn btn-secondary return-button" href="#" onclick="location.href='index.html'">Return</a>
            </fieldset>
        </form>

    </div>
</div>

    <!-- Footer - Begin -->
    <br/><br/>
    <footer class="bg-dark text-white py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; SHEOUT 2023. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.3/dist/umd/popper.min.js"/>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>